<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>구글 로그인 페이지</title>
</head>
<style>
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .content {
        font-family: system-ui, serif;
        font-size: 2rem;
        padding: 1rem;
        border-radius: 1rem;
        background: #ffbe0a;
    }

    a {
        text-decoration-line: none
    }
</style>
<body>
<div class="wrapper">
    <a href="https://accounts.google.com/o/oauth2/v2/auth?&scope=https://www.googleapis.com/auth/userinfo.profile&access_type=offline&include_granted_scopes=true&response_type=code&state=state_parameter_passthrough_value&redirect_uri=http://localhost:8080/oauth/google/callback&client_id=436449247269-1b3lp6lkpuvqlutis6at4cb0u1h36dt6.apps.googleusercontent.com">
        <div class="content">
            구글 로그인
        </div>
    </a>
</div>
</body>
</html>